/.bundle
/vendor/bundle
/vendor/ruby

/log
/tmp

.DS_Store

coverage/
config/database.yml
.rbenv-version
.rvmrc
/doc/yard
.yardoc
.sass-cache/
public/assets
.env
/bin.powrc
/bin

.git/hooks/post-commit

/public/system
