<div class="hero-unit">
  <h1>Challah!</h1>
  <p>
    Welcome to the Challah test site. This site serves as a primitive example of how to
    use the <a href="https://github.com/jdtornow/challah">Challah</a> gem for basic authentication
    and authorization in your Rails app.
  </p>

  <p><a class="btn btn-primary btn-large" href="https://github.com/jdtornow/challah">View Project &raquo;</a></p>
</div>

<% if current_user? %>
  <div class="alert alert-block alert-success">
    Congrats. You are signed in successfully as <strong><%= current_user.name %></strong>.
  </div>
<% else %>
  <div class="alert alert-block alert-info">
    You are not currently signed in.
  </div>
<% end %>