<h1>Home</h1>

<% if current_user? %>
  <p>You are logged in as <%= current_user.name %>.</p>

  <p><%= link_to 'Log out', logout_path %></p>
<% else %>
  <p>You are not logged in.</p>

  <p><%= link_to 'Log in', login_path %></p>
<% end %>